<h1>About me</h1>
<p>Hi my name is Bryan Tacuri and I'm currently learning how to build full stack websites with python web development using Djongo 3.</p>
<br>
<h2>Experience:</h2>
<div>
    <ul>
        <li>HTML</li>
        <li>Javascript</li>
        <li>CSS3</li>
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
        <li>C#</li>
        <li>Django</li>
        <li>Bootstrap</li>
        <li>SQL</li>
        <li>Swift</li>
        <li>XCTest</li>
    </ul>
</div>
<br>
<a href="{% url 'home' %}">Home</a>